body{
  padding-top: 5rem;
  background-color: #f4f4f4;
}
.app-logo{
    -webkit-animation: App-logo-spin infinite 20s linear;
    animation: app-logo-spin infinite 20s linear;
    height: 40px;
}
@keyframes app-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.cursor-ptr{
  cursor: pointer;
}
.frowny{
  margin-right: 0.1rem;
  margin-bottom: 0.1rem;
}
.alert-wrapper{
  /* z-index to be over modal */
  z-index: 9999;
  position: fixed;
  top: 10px;
  left: 0;
  width: 100%;
}
.alert{
  width: 70%;
}
.alert p{
  width: 90%;
  margin-left: 5%;
}
.card .card-body p.card-text{
  max-height: 100px;
  overflow: hidden;
}
.pagination a{
  padding: 0.25rem 1rem !important;
  cursor: pointer;
}
.pagination .disabled a{
  color: #ddd !important;
  cursor: default;
}
.pagination .active a{
  border: 1px solid #00f;
  border-radius: 3px;
  cursor: default;
}
.pagination .disabled a{
  color: #ddd !important;
}
.spinner-wrapper{
  height: 0px;
}
.spinner-wrapper > div{
  position: relative;
  top: 15px;
}
